<div id="footer">
	<p>
	©<%- theme.siteStartYear %>-<span id="footerYear"></span> 
	<a href="/"><%- config.author %></a> 
	
	<% if (theme.busuanzi){ %>
		|
		<span id="busuanzi_container_site_pv">
			IT愛好者的服務之家
		</span>
		|
		<span id="busuanzi_container_site_uv"> 
			聯係電話：18602428100
		</span>
		<br>
		<span id="busuanzi_container_site_uv"> 
			辽ICP备19006373号-1
		</span>
		|
		<span id="busuanzi_container_site_uv"> 
			<a href="http://beian.miit.gov.cn">工信部链接：http://beian.miit.gov.cn或http://www.beian.miit.gov.cn）</a>
		</span>
	<% } %>
	</p>
</div>
<script type="text/javascript"> 
	document.getElementById('footerYear').innerHTML = new Date().getFullYear() + '';
</script>