<!-- Start of nav bar 
			============================================= -->
			<nav class = "navbar navbar-default" role = "navigation">  
				<div class="navbar-header">  
						<button type="button" class="navbar-toggle" data-toggle = "collapse"  data-target = "#target-menu">  
								<span class="sr-only">qieh</span>  
								<span class="icon-bar"></span>  
								<span class="icon-bar"></span>  
								<span class="icon-bar"></span>  
						</button>  
						<a class="navbar-brand"></a>  
				</div>  
				<div class="collapse navbar-collapse" id = "target-menu">  
						<ul class="nav navbar-nav">  
							<li class="active"><a href="http://www.lifemini.cn/">网站首页</a></li>  
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle = "dropdown">在线文档 <span class="caret"></span></a>  
								<ul class="dropdown-menu">  
									<li><a href="https://cn.vuejs.org/v2/api/">Vue</a></li>  
									<li><a href="https://vuex.vuejs.org/zh/api/#vuex-store">Vuex</a></li>  
									<li><a href="https://www.kancloud.cn/yunye/axios/234845">Axios</a></li>  
									<li><a href="https://www.runoob.com/bootstrap/bootstrap-tutorial.html">bootstrap</a></li>  
								</ul> 
							</li>   
							<li class="dropdown">  
								<a href="#" class="dropdown-toggle" data-toggle = "dropdown">常用工具<span class="caret"></span></a>  
								<ul class="dropdown-menu">  
									<li><a href="https://smallpdf.com/cn/pdf-to-word">PDF转换器</a></li>  
									<li><a href="https://tableconvert.com/?output=text&data=id%2C%20name%2C%20age%2C%20gender%0A1%2C%20Lawrence%2C%2039%2C%20M%0A2%2C%20Oliver%2C%2025%2C%20M%0A3%2C%20Roberta%2C%2017%2C%20F%0A4%2C%20Bamboo%2C%2070%2C%20F%0A">MD表格转换</a></li>  
									<li><a href="https://www.bejson.com/jsoneditoronline">Json转换器</a></li>  
									<li><a href="https://tool.oschina.net/codeformat/html">代码格式化</a></li>
									<li class="divider"></li> 
									<li><a href="http://index.baidu.com/v2/index.html#/">百度指数</a></li>  
								</ul> 
							</li>
						</ul>
				</div> 
			</nav>
		<!-- End of nav bar 
			============================================= -->